
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

p{
    text-align: center;
}



.caption {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #000;
}

    .caption span.border {
        background-color: #2E7E86;
        color: #e4e4b6;
        padding: 18px;
        font-size: 45px;
        letter-spacing: 5px;
    }



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}

h3 {
    color: #163d41;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: caviarDreamB;
    font-weight: bold;
    text-align: center;
}

.ParallaxText {
    text-align: center;
    padding: 50px 200px;
    text-align: justify;
}

#TextOne {
    color: #e4e4b6;
    background-color: #2E7E86
}

#TextTwo {
    color: #2E7E86;
    background-color: #e4e4b6;
    position:relative;
}

.border {
    font-family: caviarDreamB;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

@media screen and (min-width:320px) and (max-width:920px) {
    /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
    .caption{
        transform: scale(0.5)
    }

    .ParallaxText{
        padding: 50px 20px;
    }

   .bgimg-2, .bgimg-3, .bgimg-4 {
        
        min-height:  175px;
    }
    


}

