

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2E7E86;
}


@font-face {
    font-family: 'caviarDream';
    src: url(Fonts/CaviarDreams.ttf)
}

@font-face {
    font-family: 'caviarDreamB';
    src: url(Fonts/CaviarDreams_Bold.ttf)
}

#section1{
    height: 100%;
    margin: 0px;
    padding: 0px;
}


#section2 {
    height: 100%;
    width: 100%;
    background-color: #2d7d86;
}

.navbar {
    background-color: transparent;
    border: none;
}


#nameLink {
    font-family: caviarDreamB;
    color: #e4e4b6;
    font-size: 40px;
}

a{
    padding: 10px;
}

.nav.navbar-nav li a {
    color: black;
}

.fab, .fas {
    color: ;
}

#Hello {
    width: 85%;
    height: auto;
    margin: 0%
}



@viewport {
    width: device-width;
    zoom: 1.0;
}

@media screen and (min-width:320px) and (max-width:920px) {
    /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */

    .navbar {
        display: none;
    }
}


@media (max-resolution: 96dpi) {
    .navbar{
        height: 75px;
    }

    .fab, .fas {
        height: 100%;
        width: auto;
    }
}



