body {
}




@font-face {
    font-family: 'caviarDream';
    src: url(Fonts/CaviarDreams.ttf)
}

@font-face {
    font-family: 'caviarDreamB';
    src: url(Fonts/CaviarDreams_Bold.ttf)
}

#section1 {
    display: inline-block;
    padding-top: 50px;
}


h1 {
    font-size: 40px;
    font-family: caviarDreamB;
    color: #e4e4b6;
    text-align: center;
    margin-top: 10px;
}



#photo {
    height: 80%;
    width: auto;
    position: absolute;
    display: inline;
    margin: 0;
    top: 115px;
    left: 50px;


}


#textDiv2 {
    display: inline-block;
    height: 230px;
    background-color: #e4e4b6;
    color: #2E7E86;
    text-align: center;
    z-index: -1;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    position: absolute;
    top: 35px;
    left: 250px;
    margin-right: 10%;
    border-radius: 15px;
    border: solid;
    border-width: 5px;
    border-color: #2b6978;
    padding-right: 20px;
}


#photo1 {
    height: 80%;
    width: auto;
    position:absolute;
    top: 375px;
    left: 920px;
    display: inline;
    margin: 0;
    margin-right: 5%;

}

h2{
    font-size: 17px;
    font-weight: bold;
}




#textDiv3 {
 
    display: inline-block;
    height: 230px;
    width: 80%;
    padding-left: 50px;
    background-color: #e4e4b6;
    color: #2E7E86;
    text-align: center;
    z-index: -1;
    margin-top: 100px;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 300px;
    right: 100px;
    border-radius: 15px;
    border: solid;
    border-width: 5px;
    border-color: #2b6978;
    padding-right: 200px;
}






#nameLink:hover{
    cursor: pointer;
    color: burlywood;

}

